- if user_signed_in?
  = link_to '<i class="olive sign out icon"></i>'.html_safe, destroy_user_session_path, method: :delete
- else
  = link_to '<i class="olive add user icon"></i>'.html_safe, new_user_session_path

