- if user_signed_in?
  %li
    = link_to '<i class="olive settings icon"></i>'.html_safe, edit_user_registration_path
- else
  %li
    = link_to '<i class="olive add user icon"></i>'.html_safe, new_user_session_path
